button {
    margin: 20px auto !important;
    height: 40px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: transparent;
    color: #333;
    outline: none;
    padding: 0;
    margin-left: 5% !important;
}