.header .am-navbar{
    background-color: #fff;
}

.header .am-navbar .am-navbar-left, .header .am-navbar .am-navbar-right{
    flex: 0 1 auto;
}

.header .am-navbar .am-navbar-title {
    margin-left: 15px;
}
.header .am-navbar .am-search {
    flex: 1;
    background-color: #fff;
}
.am-search-cancel {
    color: #ccc;
}
.am-search-input {
    border: 1px solid #eee;
    border-radius: 20px;
}