
.login-page {
    background-color: #fff;
    color: white;
    height: 100%;
}
.login-page .img{
    text-align: center;
    padding-top: 100px;
}
.login-page .img img {
    width: 100px;
    height: 100px;

}
.input-group {
    margin: 30px 5%;
    display: flex;
    flex-wrap: wrap;
}

.input-group i {
    font-size: 24px;
    width: 40px;
    height: 40px;
    color: #333;
    text-align: center;
    line-height: 40px;
}
.input-group input {
    flex: 1;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #333;
}
.input-group input::-webkit-input-placeholder {
    color: #333;
    opacity: 0.6;
}